.display{
    box-sizing: border-box;
    margin: 5% 5% 0 5%;
    height: 50%;
    background-image: url(https://wallpapercave.com/wp/wp3190622.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4%;
    overflow: hidden;
    border: 3px solid black;
}