/* .body{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
    justify-content: center;
    align-content: center;
    margin: 0px auto;
    background-color: aliceblue;
} */
