body{
    margin: 0;
    padding: 0;
  }
#root{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
}
.nav {
  display: flex;
  background: #4267b2;
  height: 100%;
  width: 45%;
}
.nav .nav-menu{
  list-style-type: none;
  margin: 0;
  width: 100%;
  padding: 0;  
  /* border: 1px solid red; */
}
.nav .nav-menu h3{
   margin-left: 8%;
}
.nav .nav-menu li{
  position: relative;
  left: 8%;
}